# Firebase Configuration
REACT_APP_FIREBASE_API_KEY="AIzaSyBTPGs7VhCsX2Fvs7xJ8ermZ07Va2PSQkM"
REACT_APP_FIREBASE_AUTH_DOMAIN="shiv-shakti-32a92.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID="shiv-shakti-32a92"
REACT_APP_FIREBASE_STORAGE_BUCKET="shiv-shakti-32a92.firebasestorage.app"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="535219145947"
REACT_APP_FIREBASE_APP_ID="1:535219145947:web:7951d22560cab467ff90fe"

# App Configuration
REACT_APP_APP_NAME="Shivshakti Admin"
REACT_APP_VERSION="1.0.0"
